---
title: Python
---

asdfasdfasdf

<EditableCode>

```python
import math  # the newlines in the markdown file are necessary!

def area_of_sphere(radius: float) -> float:
    return 4 / 3 * math.pi * r ** 3

print(area_of_sphere(100))
```

</EditableCode>