---
title: Home
---

## Welcome to CodeKids Academy!

This is the `Home` course, which will help you get up to speed with CodeKids Academy,
and introduce you to the interactive features that we provide to make learning
programming easier.

For now, click on the right arrow to continue to the next lesson, where we will talk 
about the overall layout of CodeKids Academy.
